<form action="/upload" enctype="multipart/form-data" method="post">
    <div class="upload-form">
        <input type="file" class="form-control-file m-3" multiple name="mutli-files" />
        <input type="text" class="form-control" placeholder="Opis" name="info" />
        <input type="hidden" value="{{originalSubject}}" name="url" />
        <input type="submit" value="Prześlij" class="btn btn-default" />
        <input type="text" class="col-md-3" placeholder="Autor" name="author" />
        <label class="mx-3" for="studentsOnly">Dla Studentów</label><input type="checkbox" checked name="studentsOnly" />
    </div>
</form>