body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #a3b7c9;
}

a {
  color: #00B7FF;
}

.lista {
  width: 193px;
}

.bi-book svg {
  height: 24px;
  width: 24px;
}

.loadedIMG {
  height: 64px;
  width: 80px;
  padding: 0 8px;
}

figure {
  position: relative;
  height: 100px;
  margin: 0 8px;
  display: inline-block;
  cursor: pointer;
}

figcaption {
  max-width: 80px;
  height: 36px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.downloadImg {
  position: absolute;
  top: -2px;
  right: -6px;
  height: 20px;
  width: 20px;
}

.infoImg {
  position: relative;
  height: 256px;
  padding-bottom: 10px;
}

.figureInfo {
  /*border: 2px solid black;*/
  border-radius: 10px;
  padding: 15px 5px 50px 5px;
  position: relative;
  height: 300px;
  /*background-color: #0D69D2;*/
}

.figureinfo figcaption {
  max-width: 256px;
}

.downloadInfoImg {
  position: absolute;
  right: 6px;
  top: 12px;
  height: 40px;
  width: 40px;
}

.edit img {
  height: 64px;
}

.Test {
  min-height: 36px;
  width: 150px;
  margin: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: white;
  text-align: center;
  outline: 1px solid black;
  border-radius: 0.25em;
  padding: 0 5px 10px 5px;
  overflow-wrap: break-word;
  display: none;
  cursor: pointer;
}

a {
  outline: none;
}

.disabled,
.disabled:hover,
.disabled:visited {
  cursor: default;
  text-decoration: none;
  color: white;
  text-align: center;
}

.start {
  background: url('/img/iceland.jpg');
  background-size: 100%;
}

.bgStars {
  background: url('/img/stars.jpg');
  background-size: 100%;
}

.darkBG {
  background-color: #a3b7c9;
}

.btn {
  background-color: white;
}

div.subscribe-image {
  display: none;
}

#menu {
  margin: auto;
}