body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.bg-purple {
  background: blueviolet;
}

a {
  color: #00B7FF;
}

.lista {
  width: 193px;
}

.bi-book svg {
  height: 24px;
  width: 24px;
}